.container.espacio-nav{
    margin-top: 200px;
    size: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.container.espacio-nav h1{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    
}

.container.espacio-nav h3{
    font-family: 'Playfair Display', serif;
}

.proyecto1{
    
    margin-top: 280px;
    height: 700px;
}

.proyecto1.dark{
    background-color: black;
}

.proyecto1 .container.trabajo1{
    max-width: 800px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.proyecto1 .container.trabajo1 h3{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.proyecto1 .container.trabajo1 p{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;

}

.proyecto1 .container.trabajo1 .img-fluid.apple1{
    border-radius: 10px 10px 10px 10px;
}

.proyecto1 .container.trabajo1 .img-fluid.apple1:hover{
    opacity:0.7;
}

.proyecto2{
    height: 800px;
}

.proyecto2 .container.trabajo2{
    max-width: 800px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.proyecto2 .container.trabajo2 h3{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.proyecto2 .container.trabajo2 p{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;

}

.proyecto2 .container.trabajo2 .img-fluid.apple1{
    border-radius: 10px 10px 10px 10px;
}

.proyecto2 .container.trabajo2 .img-fluid.apple1:hover{
    opacity:0.7;
}

.proyecto3{
    height: 800px;
}

.proyecto3.dark{
    background-color: black;
}

.proyecto3 .container.trabajo3{
    max-width: 800px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.proyecto3 .container.trabajo3 h3{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.proyecto3 .container.trabajo3 p{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;

}

.proyecto3 .container.trabajo3 .img-fluid.apple1{
    border-radius: 10px 10px 10px 10px;
}

.proyecto3 .container.trabajo3 .img-fluid.chat{
    border-radius: 10px 10px 10px 10px;
}

.proyecto3 .container.trabajo3 .img-fluid.apple1:hover{
    opacity:0.7;
}

.proyecto4{
    height: 300px;
}

.proyecto4 .container.trabajo4{
    max-width: 800px !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.proyecto4 .container.trabajo4 h3{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.proyecto4 .container.trabajo4 p{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;

}

.proyecto4 .container.trabajo4 .img-fluid.apple1{
    border-radius: 10px 10px 10px 10px;
}